<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Metas -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Links -->
    <link rel="icon" type="image/png" href="../static/images/favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/icofont.min.css">
    <link href="../home/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../home/css/slick.css" rel="stylesheet" />
    <link href="../home/css/main.css" rel="stylesheet" />
    <link href="../home/css/index.css" rel="stylesheet" />
    <!-- Document Title -->
    <title> ScribeTime | Change a life</title>
</head>

<body>
  <!-- HEADER SECTION -->  
  <header id="home">
    <div class="container" style="margin-top:-55px;">
      <nav class="navbar navbar-expand-lg navbar-light ">
        <!-- Change Logo Img Here -->
        <a class="navbar-brand" href="#">
		<h2 style="margin-left:10px;">ScribeTime</h2>
		</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <div class="interactive-menu-button">
            <a href="#">
              <span>Menu</span>
            </a>
          </div>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-top:-40px; margin-left:120px;">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <!-- Nav Link -->
              <a class="nav-link" data-scroll href="#home">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <!-- Nav Link -->
              <a class="nav-link" data-scroll href="#about-us">About Us</a>
            </li>
            <li class="nav-item">
              <!-- Nav Link -->
              <a class="nav-link" data-scroll href="#team">Team</a>
            </li>
			<li class="nav-item">
              <!-- Nav Link -->
              <a class="nav-link" data-scroll href="#contact-us">Contact Us</a>
            </li>
			<li class="nav-item">
              <!-- Nav Link -->
              <a class="nav-link" data-scroll href="#sign-up">Log In</a>
            </li>
			<li class="nav-item">
              <!-- Nav Link -->
              <div class="dropdown" style="background-color:white;">
              <button class="nav-link dropdown-toggle" id="register" data-toggle="dropdown" aria-expanded="false" style="background-color:white;font-weight:600; border-style:none;">Register</button>
              <ul class="dropdown-menu" aria-labelledby="register" style="background-color:#fff;">
                <li style="background-color:#fff;"><a class="dropdown-item" href="../home/Student_Registeration.html" style="color:#314584;">As Student</a></li>
                <li style="background-color:#fff;"><a class="dropdown-item" href="../home/Volunteer_Registeration.html" style="color:#314584;">As Volunteer</a></li>
               
              </ul>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- HERO SECTION -->    
    <div class="container-fluid hero" style="background-image: url('../home/images/banner_bg_1_edit.jpg'); background-repeat:no-repeat; width :100%; margin-top:-70px;">
      <!--<img src="../static/images/hero.svg" alt="">-->
      <div class="container" style="margin-left:150px;">
        <!-- Hero Title -->
        <h1 style="margin-left:270px;">Celebrating The <br>Spirit of Education.</h1>
        <div class="hero-btns" style="margin-left:250px;">
          <!-- Hero Btn First -->
          <a data-scroll href="#about-us">More About Us</a>
          <!-- Hero Btn Second -->
          <a data-scroll href="#about-us">Register With Us.</a>
        </div>
      </div>
    </div>
  </header>
  
  <!-- Features SECTION -->  
  <section id="about-us" class="services" style="margin-top:-150px;">
    <div class="container-fluid">
      <div class="side-img"> 
        <img src="../static/images/aside.svg" alt="">
      </div>
      <div class="side2-img"> 
        <img src="../static/images/aside2.svg" alt="">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12 col-lg-4 service-txt">
            <h2>What all to expect from us </h2>
          </div>
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="service-box">
              <img src="../static/images/req.png" alt="" style="width:80px; height:80px;">
              <!-- Service Title -->
              <h3>Request for a<br>Scribe</h3>
              <p>We aim at connecting Students with disability, with the Voluntary writers who can assist them in writings exams.</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="service-box">
              <img src="../static/images/vol.png" alt="" style="width:80px; height:80px;">
              <!-- Service Title -->
              <h3>Volunteer for a<br>Scribe</h3>
              <p>Experience the joy of helping by assisting a student with special needs in writing their exams.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- ABOUT SECTION -->
  <section class="about">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-lg-6">
          <img src="../static/images/visually_impaired.jpg" alt="" style="width:95%; margin-top:50px;">
        </div>
        <div class="col-12 col-sm-12 col-lg-6">
          <h5>Scribe Time</h5>
          <h2>An Innovative Solution<br>For Finding Scribes</h2>
          <!-- Replace About Us Text Under -->
          <p>We aim at connecting Visually Impaired Students, Students with chronic medical conditions, students with cerebral palsy and students with temporary injuries like a fracture, etc, with the Voluntary writers who can assist them in writings exams.</p>
		  <p>Anyone who is a resident of India and have a minimum qualification of Metric Pass, can volunteer and help students in need.</p>
		</div>
      </div>
    </div>
  </section>
  
  <!-- LOGIN SECTION -->
  <section id="sign-up" class="portfolio" style="margin-top:-100px;">
    <div class="container">
      <div class="portfolio-aside">
        <img src="../static/images/aside3.svg" alt="">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="container">
			 
				<div class="row">
				  <div class="col-4">
					<h2 style="text-align:center">Log In To <br>Continue</h2>
				  </div>
				  
				  <div class="col-4" style="border-right-color:#314584; border-right-style:solid;">
				   <form name="form1" method="post">
					<input type="text" name="email_id" id="stud_username" placeholder="Username">
					<input type="password" name="pwd" id="stud_password" placeholder="Password">
					<input type="submit" name="form1" value="Login As Student">
				   </form>
				  </div>
				  
				 
				  <div class="col-4">
				   <form name="form2" method="post">
					<input type="text" name="email_id" id="vol_username" placeholder="Username">
					<input type="password" name="pwd" id="vol_password" placeholder="Password">
					<input type="submit" name="form2" value="Login As Volunteer">
					</form>
				  </div>
				   
				</div>
			  
			</div>
			<div class="bottom-container">
			  <div class="row">
				<div class="col">
				  <a href="#" style="color:white" class="btn">Register With Us !!</a>
				</div>
				<div class="col">
				  <a href="#" style="color:white" class="btn">Forgot password?</a>
				</div>
			  </div>
			</div>
          </div>  
        </div>
      </div>
    </div>
  </section>
  
  <!-- TEAM SECTION -->
  <section id="team" class="blog">
    <div class="container">
      <div class="blog-aside">
        <img src="../static/images/aside4.svg" alt="">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h5>Meet Our Team</h5>
            <h2></h2>
          </div>
        </div>
        <div id="blog-drag" class="row blog-slider">
          <div class="col-12 col-lg-4 blog-box blog-first">
            <!-- Blog Post Title -->
            <h6>Developers Information</h6>
            <!-- Blog Post -->
            <p>Our team consist of 5 woman developers working in Dell Technologies, Bangalore. These full time software developers have come together to form a community who help in providing quality and hassle free education to the students with disability. </p>
          </div>
		  <div class="col-12 col-lg-4 blog-box">
            <!-- Blog Post Title -->
            <h6>Aakanchha Trivedi</h6>
            <!-- Blog Post -->
            <p>I work as a Software Developer in Dell Technologies, Bangalore. I along with my  collegues have come together to form a community who help in providing quality and hassle free education to the students with disability.</p>
          </div>
          <div class="col-12 col-lg-4 blog-box">
            <!-- Blog Post Title -->
            <h6>Anuparna Deb</h6>
            <!-- Blog Post -->
            <p>I work as a Software Developer in Dell Technologies, Bangalore. I along with my  collegues have come together to form a community who help in providing quality and hassle free education to the students with disability.</p>
          </div>
		  <!-- Blog Section to be showed on Drag  -->
          <div class="col-12 col-lg-4 blog-box hiden-blog hide-blog">
            <!-- Blog Post Title -->
            <h6>Binita Senapati</h6>
            <!-- Blog Post -->
            <p>I work as a Software Developer in Dell Technologies, Bangalore. I along with my  collegues have come together to form a community who help in providing quality and hassle free education to the students with disability.</p>
          </div>
          <div class="col-12 col-lg-4 blog-box hiden-blog hide-blog">
            <!-- Blog Post Title -->
            <h6>Mary Kujur Neelam</h6>
            <!-- Blog Post -->
            <p>I work as a Software Developer in Dell Technologies, Bangalore. I along with my  collegues have come together to form a community who help in providing quality and hassle free education to the students with disability.</p>
          </div>
          <div class="col-12 col-lg-4 blog-box hiden-blog  hide-blog">
            <!-- Blog Post Title -->
            <h6>Pallavi Nirvanegowda</h6>
            <!-- Blog Post -->
            <p>I work as a Software Developer in Dell Technologies, Bangalore. I along with my  collegues have come together to form a community who help in providing quality and hassle free education to the students with disability.</p>
          </div>
        </div>
      </div>
      
    </div>
  </section>  
  
  <!-- CONTACT SECTION -->
  <section id="contact-us" class="contact">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h5>CONTACT US</h5>
          <h3>Get in Touch</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-6 email">
          <input placeholder="Your email" type="email" id="email" pattern=".+@globex.com" size="30" required>
        </div>
        <div class="col-12 col-lg-6 email">
          <input placeholder="Subject" type="subject" id="subject" size="30" required>
        </div>
      </div>
      <div class="row">
        <div class="col-12 message">
          <textarea id="message" name="message" rows="3" cols="1" placeholder="Message here..."></textarea>
        </div>
        <div class="col-12">
          <div class="hero-btns contact-btn">
            <!-- Send Message Btn -->
            <a href="#"><button style="margin-top:-40px;">Send Message</button></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- FOOTER SECTION -->
  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h5>ScribeTime</h5>
          <!--<h4 style="color:red;">QUALITY EDUCATION</h4>-->
          <ul class="contact-nav">
            <li><a data-scroll href="#home">Home</a></li>
            <li><a data-scroll href="#about-us">About Us</a></li>
            <li><a data-scroll href="#team">Team</a></li>
            <li><a data-scroll href="#contact-us">Contact Us</a></li>
          </ul>
		  <!--
          <h6>© 2021 - ScribeTime,All Right Reserved</h6>
          <ul class="social">
            <li><a href="#"><i class="icofont-facebook"></i></a></li>
            <li><a href="#"><i class="icofont-twitter"></i></a></li>
            <li><a href="#"><i class="icofont-dribbble"></i></a></li>
          </ul>
		  -->
        </div>
      </div>
    </div>
  </footer>
  
  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/slick.min.js"></script>
  <script src="../static/js/smooth-scroll.min.js"></script>
  <script src="../static/js/main.js"></script>
  <!-- Scripts Ends -->
</body>
</html>
