
<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<!-- Metas -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Links -->
    <link rel="icon" type="image/png" href="../home/images/favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../home/icofont.min.css">
    <link href="../home/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../home/css/slick.css" rel="stylesheet" />
	<link href="../home/css/main.css" rel="stylesheet" />
    <link href="../home/css/index.css" rel="stylesheet" />
    <link href="../home/css/student_home.css" rel="stylesheet" />
	
    <!-- Document Title -->
    <title> ScribeTime | Change a life</title>
  </head>
  <script>
	function show_form(){
		document.getElementById("main_sec").style.display = "none";
		document.getElementById("registration_form").style.display = "block";
		document.getElementById("past_requests").style.display = "none";
		
	}
	function show_home(){
		document.getElementById("main_sec").style.display = "block";
		document.getElementById("registration_form").style.display = "none";
		document.getElementById("past_requests").style.display = "none";
		
	}
	function show_past(){
		document.getElementById("main_sec").style.display = "none";
		document.getElementById("registration_form").style.display = "none";
		document.getElementById("past_requests").style.display = "block";
		
	}
  </script>
  <style>
	input{
		background-color:#F4FAFE;
	}
  </style>
  <body>
	<!-- HEADER SECTION -->  
	<header id="home">
		<div class="container" style="margin-top:-55px;">
		  <nav class="navbar navbar-expand-lg navbar-light ">
			<!-- Change Logo Img Here -->
			<a class="navbar-brand" href="#">
			<h2 style="margin-left:10px;">ScribeTime</h2>
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			  <div class="interactive-menu-button">
				<a href="#">
				  <span>Menu</span>
				</a>
			  </div>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-top:-40px; margin-left:100px;">
			  <ul class="navbar-nav mr-auto">
				<li class="nav-item active">
				  <!-- Nav Link -->
				  <a class="nav-link" id="home_name" data-scroll href="#home" onclick="show_home()">Home</a>
				</li>
				
				<li class="nav-item">
				  <!-- Nav Link -->
				  <button style="background-color:white;width:100%; margin-top:-10px;" onclick="show_form()"><a class="nav-link" data-scroll href="#">Request Scribe</a></button>
				</li> 
				<li class="nav-item">
				  <!-- Nav Link -->
				  <a class="nav-link" data-scroll href="#about-us" onclick="show_past()">Past Requests</a>
				</li>
				<li class="nav-item">
				  <!-- Nav Link -->
				  <a class="nav-link" data-scroll href="#contact-us">Edit Profile</a>
				</li>
				<li class="nav-item">
				  <!-- Nav Link -->
				  <a class="nav-link" data-scroll href="#sign-up">Log Out</a>
				</li>
			  </ul>
			</div>
		  </nav>
		</div>
		<hr style="margin-top:-60px;">
		<!-- HERO SECTION -->    
		<div class="container-fluid hero" id="main_sec" style=" background-repeat:no-repeat; width :100%; margin-top:-70px; height:500px;">
			<div class="container-fluid">
				<div class="side-img"> 
					<img src="../home/images/aside.svg" alt="">
				</div>
				<div class="side2-img"> 
					<img src="../home/images/aside2.svg" alt="">
				</div>
				<div class="container-fluid" style="display:flex; justify-content:center; flex-wrap:wrap; flex-grow: 4">
					<center>
					<h2 style="margin-top:100px; color:#314584; margin-left:0px;text-align:center;">Welcome {{ name }} <span class="glyphicon glyphicon-envelope"></span></h2>
					<!-- if no requests raised -->
					<!--
					<h4>No pending Requests</h4>
					<a href="#Create_Req" ><h5>Request Scribe</h5></a>
					-->
					<!-- if one or more requests -->
					<div class="row" style="margin-left:150px;">
						{%for i in range(0, length)%}
						<div class="col-5 card" style="margin:3px; box-shadow: 0 0 3px 0  #314584; background-image:url('../home/images/banner_bg_2.jpg')">
						  <img class="card-img-top" src="..." alt="Card image cap">
						  <div class="card-body">
							<h5 class="card-title">Your Scribe for {{ exam_request[i]['exam_name'] }}</h5><br>
							{% if exam_request[i]['scribe'] != "" %}
							<p style="font-size:18px;"><b>{{ exam_request[i]['scribe'] }}</b></p>
							<p class="card-text" style="margin-top:-25px;">Contact Details : <br>
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#314584" class="bi bi-phone-fill" viewBox="0 0 16 16">
								  <path d="M3 2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V2zm6 11a1 1 0 1 0-2 0 1 1 0 0 0 2 0z"/>
								</svg> {{ exam_request[i]['contact'] }}<br>
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#314584" class="bi bi-envelope-fill" viewBox="0 0 16 16">
								  <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
								</svg>{{ exam_request[i]['email'] }}
							</p>
							<a href="#" class="btn btn-primary" style="margin-top:-25px; background-color:#314584;">View Profile</a>
							{% else %}
							<p>Waiting for a volunteer to accept</p>
							{% endif %}
						  </div>
						</div>
						{%endfor%}
					</div>
					</center>
				</div>
			</div>
		</div>
	</header>
	<!-- Registration Form -->
    <div class="container testbox" id="registration_form" style="display:none;">
		<form name="exam_request" method="post">
		  <br/>
		  <fieldset>
			<legend><center>Examination Details</center></legend>
			<div class="columns">
			  <div class="item">
				<label for="fname">Examination Name <span>*</span></label>
				<input id="fname" type="text" name="exam_name" />
			  </div>
			  <div class="item">
				<label for="lname"> Language <span>*</span></label>
				<input id="lname" type="text" name="language"  />
			  </div>
			  <div class="item">
				<label for="address">Examination Venue <span>*</span></label>
				<input id="address" type="text"   name="venue"  />
			  </div>
			  <div class="item">
				<label for="zip">Zip Code <span>*</span></label>
				<input id="zip" type="text"   name="zip" required/>
			  </div>
			  <div class="item">
				<label for="city">City <span>*</span></label>
				<input id="city" type="text"   name="city" />
			  </div>
			  <div class="item">
				<label for="state">State <span>*</span></label>
				<input id="state" type="text"   name="state" />
			  </div>
			  <div class="item">
				<label for="eaddress">Email Address <span>*</span></label>
				<input id="eaddress" type="text"   name="eaddress" />
			  </div>
			  <div class="item">
				<label for="phone">Phone <span>*</span></label>
				<input id="phone" type="tel"   name="phone" />
			  </div>
			</div>
		  </fieldset>
		  <br/>
		  <fieldset>
			<legend><center>Examination Dates</center></legend>
			<div class="columns">
			  <div class="item">
				  <label for="checkindate">Exam Date <span>*</span></label>
				  <input id="checkindate" type="date" name="exam_date" />
				  <i class="fas fa-calendar-alt" style="color:#314584; margin-right:15px; margin-top:-2px;"></i>
			  </div>
			  <div class="item">
				  <label for="phone">Start Time <span>*</span></label>
				  <input type="text" name="start_time" />
			  </div>
			  <div class="item">
				  <label for="phone">End Time <span>*</span></label>
				  <input type="text" name="end_time" />
			  </div>
			  <div class="item">
				  <label for="instruction">Special Instructions</label>
				  <textarea id="instruction" rows="3"></textarea>
			  </div>
			</div>
		  </fieldset>
		  <div class="btn-block">
			<input type="submit" name="exam_request" value="Submit" style="background-color:#314584;font-weight:500;font-size:18px;">
		  </div>
		</form>
    </div>
	<!-- PAST SECTION -->    
	<div class="container-fluid hero" style=" background-repeat:no-repeat; width :100%; margin-top:-70px; height:500px; display:none;" id="past_requests">
		<div class="container-fluid">
			<div class="side-img"> 
				<img src="../static/images/aside.svg" alt="">
			</div>
			<div class="container">
				<center>
				<h2 style="margin-top:60px; color:#314584; margin-left:0px;text-align:center;">Welcome {{ name }} !!</h2>
				<!-- if one or more requests -->
				<div class="row">
					<div class="col-2">
					</div>
					<div class="col-4 card" style="width: 90%; margin:15px;box-shadow: 0 0 8px #314584; background-image:url('../home/images/banner_bg_2.jpg')">
					  <img class="card-img-top" src="..." alt="Card image cap">
					  <div class="card-body">
						<h5 class="card-title">Your Scribe for PNB Examination</h5><br>
						<p><b> Aakanchha Trivedi </b></p>
						<p class="card-text" style="margin-top:-25px;">Contact Details : <br>
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#314584" class="bi bi-phone-fill" viewBox="0 0 16 16">
							  <path d="M3 2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V2zm6 11a1 1 0 1 0-2 0 1 1 0 0 0 2 0z"/>
							</svg> 9834987653<br>
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#314584" class="bi bi-envelope-fill" viewBox="0 0 16 16">
							  <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
							</svg> aakanchha23@gmail.com
						</p>
					  </div>  
					</div>
					<div class="col-4 card" style="width: 90%; margin:15px;box-shadow: 0 0 8px #314584; background-image:url('../home/images/banner_bg_2.jpg')">
					  <img class="card-img-top" src="..." alt="Card image cap">
					  <div class="card-body">
						<h5 class="card-title">Your Scribe for BSc Chemistry Exam</h5><br>
						<p><b> Manoharshree </b></p>
						<p class="card-text" style="margin-top:-25px;">Contact Details : <br>
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#314584" class="bi bi-phone-fill" viewBox="0 0 16 16">
							  <path d="M3 2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V2zm6 11a1 1 0 1 0-2 0 1 1 0 0 0 2 0z"/>
							</svg> 7834984553<br>
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#314584" class="bi bi-envelope-fill" viewBox="0 0 16 16">
							  <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
							</svg> shree30m@gmail.com
						</p>
					  </div>  
					</div>
					<div class="col-2">
					</div>
				</div>
				</center>
			</div>
		</div>
	</div>

  </body>
</html>
